h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    text-align: center;
}

.link-a {
    margin-right: 10px; /*Her sayfada AnaSayfa,Hakkımızda ve Ürünlerimiz linkleri arasında boşluk bırak*/
}

ul {
    list-style-type: circle;
    text-align: center;
}
li {
    list-style-position: inside;
}

.image-urun {
    text-align: center; /*Ürünler sayfafındaki resimleri ortala*/
}

h4 {
    color: rgb(116, 11, 116);
}